@import "/src/index.css";
.Search__item {
  composes: Home__item from "views/HomeView.module.css";
}
.Search__image {
  composes: Home__image from "views/HomeView.module.css";
  box-shadow: var(--movie-card-shadow);
}
.Search__description {
  composes: Home__description from "views/HomeView.module.css";
}
.Search__title {
  composes: Home__title from "views/HomeView.module.css";
}
.Search__overview {
  composes: Home__overview from "views/HomeView.module.css";
}
